@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
  --font-sans: "Montserrat", var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-montserrat: "Montserrat", sans-serif;
}

:root {
  --background: #ebebeb;
  --foreground: #1e293b;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  section[id] {
    scroll-margin-top: 80px;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-montserrat leading-[1.2];
  }
}
